.michael { color: #3498db; font-weight: bold; }

.franklin { color: #27ae60; font-weight: bold; }

.trevor { color: #FFA500; font-weight: bold; }

.brad { color: #FFDE21; font-weight:bold; }

.drfriedlander { color: #9CBCE1; font-weight:bold; }

.alternative { color: #212B33; font-weight:bold; }

.missionfail { color: #8A0204; font-weight:bold; }

.npc { color: #7C7575; font-weight:bold; }